<div class="layout-dashboard">
  <div class="p-grid">
    <div class="p-col-12 p-lg-6 p-xl-3">
      <qiqo-dashboard-item type="sales" primary="$ 92,440" secondary="21% more than yesterday"></qiqo-dashboard-item>
    </div>
    <div class="p-col-12 p-lg-6 p-xl-3">
      <qiqo-dashboard-item type="views" primary="7029" secondary="2% more than yesterday"></qiqo-dashboard-item>
    </div>
    <div class="p-col-12 p-lg-6 p-xl-3">
      <qiqo-dashboard-item type="users" primary="9522" secondary="5% more than yesterday"></qiqo-dashboard-item>
    </div>
  </div>
</div>
