<div class="login-content" style="margin: 2em">
  <img src="assets/layout/images/logo-black.png" alt="babylon-layout"/>

  <h1><span>SIGN IN</span> TO QIQO BUSINESS</h1>
  <p>Welcome, please use the form to sign-in.</p>

  <div class="login-input-wrapper" style="margin: 1em; width: 100%">
      <input type="text" autocomplete="off" placeholder="Username"
        class="ui-inputtext ui-widget" style="width: 90%">
  </div>

  <div class="login-input-wrapper" style="margin: 1em; width: 100%">
      <input type="password" autocomplete="off" placeholder="Password"
        class="ui-inputtext ui-widget" style="width: 90%">
  </div>

  <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
    style="margin: 1em;" (click)="login()">
      <span class="ui-button-text ui-c">Sign In</span>
  </button>
</div>
