<div [hidden]="operation === 'create' && field.isId" [formGroup]="form">

  <div [ngSwitch]="field.type">

    <div *ngSwitchCase="'string'" class="form-group">
      <label [htmlFor]="field.key">{{ field.label }}</label>
      <input pInputText class="form-control" [formControlName]="field.key" [id]="field.key"
              [readonly]="isReadOnly">
    </div>

    <div *ngSwitchCase="'number'" class="form-group">
      <label [htmlFor]="field.key">{{ field.label }}</label>
      <input pInputText class="form-control" [formControlName]="field.key" [id]="field.key"
              [readonly]="isReadOnly"
              type="number">
    </div>

    <div *ngSwitchCase="'date'" class="form-group">
      <label [htmlFor]="field.key">{{ field.label }}</label>
      <p-calendar class="form-control" [formControlName]="field.key" [id]="field.key"
              [readonlyInput]="isReadOnly"
              type="date"></p-calendar>
    </div>

    <div *ngSwitchCase="'email'" class="form-group">
      <label [htmlFor]="field.key">{{ field.label }}</label>
      <input pInputText class="form-control" [formControlName]="field.key" [id]="field.key"
              [readonly]="isReadOnly"
              type="email">
    </div>

    <div *ngSwitchCase="'select'" class="form-group">
      <label [htmlFor]="field.key">{{ field.label }}</label>
      <p-dropdown [formControlName]="field.key" [id]="field.key"
        [options]="field.options" [readonly]="isReadOnly">
      </p-dropdown>
    </div>

    <div *ngSwitchCase="'combo'" class="form-group">
      <label [htmlFor]="field.key">{{ field.label }}</label>
      <p-dropdown [formControlName]="field.key" [id]="field.key"
        [options]="field.options" [readonly]="isReadOnly" [editable]="true">
      </p-dropdown>
    </div>

    <div *ngSwitchCase="'color'" class="form-group">
      <label [htmlFor]="field.key">{{ field.label }}</label>
      <p-colorPicker class="form-control" [formControlName]="field.key" [id]="field.key"
              [disabled]="isReadOnly"></p-colorPicker>
    </div>

    <div *ngSwitchCase="'boolean'" class="form-group">
      <label [htmlFor]="field.key">{{ field.label }}</label>
      <p-inputSwitch class="form-control" [formControlName]="field.key" [id]="field.key"></p-inputSwitch>
    </div>

    <div *ngSwitchCase="'single-choice'" class="form-group">
      <label [htmlFor]="field.key">{{ field.label }}</label>
        <fieldset *ngFor='let opt of field.options'>
          <p-radioButton [formControlName]="field.key" [id]="field.key" type="radio"
            [value]="opt.value" class="single-choice" [label]="opt.label"></p-radioButton> <br/>
        </fieldset>
    </div>

    <div *ngSwitchCase="'multi-choice'" [formGroupName]="field.key" class="form-group">
      <label [htmlFor]="field.key">{{ field.label }}</label>
        <fieldset *ngFor='let opt of field.options'>
          <p-checkbox [formControlName]="opt.value" [id]="field.key" [value]="opt.value"
            class="multi-choice" [label]="opt.label"></p-checkbox><br/>
        </fieldset>
    </div>

    <div *ngIf="isInvalid" class="alert alert-danger">{{ field.label }} is required.</div>
  </div>
</div>
