<div [hidden]="operation === 'create' && field.isId" [formGroup]="form">

  <div [ngSwitch]="field.type">

    <div *ngSwitchCase="'string'">
      <qiqo-form-field [field]="field" [isInvalid]="isInvalid" [invalidMessage]="invalidMessage">
        <input pInputText class="form-control" [formControlName]="field.key" [id]="field.key"
          [readonly]="isReadOnly" [style.width]="field.fieldWidth">
      </qiqo-form-field>
    </div>

    <div *ngSwitchCase="'number'">
      <qiqo-form-field [field]="field" [isInvalid]="isInvalid" [invalidMessage]="invalidMessage">
        <input pInputText class="form-control" [formControlName]="field.key" [id]="field.key" [readonly]="isReadOnly"
          type="number" [style.width]="field.fieldWidth">
      </qiqo-form-field>
    </div>

    <div *ngSwitchCase="'date'">
      <qiqo-form-field [field]="field" [isInvalid]="isInvalid" [invalidMessage]="invalidMessage">
        <p-calendar class="form-control" [formControlName]="field.key" [id]="field.key" [readonlyInput]="isReadOnly"
          dateFormat="yy-mm-dd" [style.width]="field.fieldWidth"></p-calendar>
      </qiqo-form-field>
    </div>

    <div *ngSwitchCase="'email'">
      <qiqo-form-field [field]="field" [isInvalid]="isInvalid" [invalidMessage]="invalidMessage">
        <input pInputText class="form-control" [formControlName]="field.key" [id]="field.key" [readonly]="isReadOnly"
          type="email">
      </qiqo-form-field>
    </div>

    <div *ngSwitchCase="'select'">
      <qiqo-form-field [field]="field" [isInvalid]="isInvalid" [invalidMessage]="invalidMessage">
        <p-dropdown [formControlName]="field.key" [id]="field.key" [options]="field.options" [readonly]="isReadOnly">
        </p-dropdown>
      </qiqo-form-field>
    </div>

    <div *ngSwitchCase="'combo'">
      <qiqo-form-field [field]="field" [isInvalid]="isInvalid" [invalidMessage]="invalidMessage">
        <p-dropdown [formControlName]="field.key" [id]="field.key" [options]="field.options" [readonly]="isReadOnly"
          [editable]="true">
        </p-dropdown>
      </qiqo-form-field>
    </div>

    <div *ngSwitchCase="'color'">
      <qiqo-form-field [field]="field" [isInvalid]="isInvalid" [invalidMessage]="invalidMessage">
        <p-colorPicker class="form-control" [formControlName]="field.key" [id]="field.key" [disabled]="isReadOnly">
        </p-colorPicker>
      </qiqo-form-field>
    </div>

    <div *ngSwitchCase="'boolean'">
      <qiqo-form-field [field]="field" [isInvalid]="isInvalid" [invalidMessage]="invalidMessage">
        <p-inputSwitch class="form-control" [formControlName]="field.key" [id]="field.key"></p-inputSwitch>
      </qiqo-form-field>
    </div>

    <div *ngSwitchCase="'single-choice'">
      <qiqo-form-field [field]="field" [isInvalid]="isInvalid" [invalidMessage]="invalidMessage">
        <fieldset *ngFor='let opt of field.options'>
          <p-radioButton [formControlName]="field.key" [id]="field.key" type="radio" [value]="opt.value"
            class="single-choice" [label]="opt.label"></p-radioButton> <br />
        </fieldset>
      </qiqo-form-field>
    </div>

    <div *ngSwitchCase="'multi-choice'">
      <qiqo-form-field [field]="field" [isInvalid]="isInvalid" [invalidMessage]="invalidMessage">
        <fieldset *ngFor='let opt of field.options'>
          <p-checkbox [formControlName]="opt.value" [id]="field.key" [value]="opt.value" class="multi-choice"
            [label]="opt.label"></p-checkbox><br />
        </fieldset>
      </qiqo-form-field>
    </div>
  </div>
</div>
