<form [formGroup]="form">
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">

    <div *ngFor="let field of vmDefinition">
      <qiqo-dynamic-field [field]="field" [form]="form" [operation]="operation" [submitted]="submitted">
      </qiqo-dynamic-field>
    </div>

    <div *ngIf="errorMessage " class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <div *ngIf="status !== 'waiting'" >
      <div *ngIf="operation === 'details'" class="p-grid">
        <div class="p-col-6"></div>
        <div class="p-col-1">
          <button pButton type="button" label="Back" class="ui-button-raised ui-button-secondary" (click)="onBack()"></button>
        </div>
        <div class="p-col-1">
          <button pButton type="button" label="Edit" class="ui-button-raised ui-button-success" (click)="onEdit()"></button>
        </div>
        <div class="p-col-2"></div>
      </div>
      <div *ngIf="operation === 'edit' || operation === 'quick'" class="p-grid">
        <div class="p-col-6"></div>
        <div class="p-col-1">
          <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-secondary" (click)="onCancel()"></button>
        </div>
        <div class="p-col-1">
          <button pButton type="button" label="Save" class="ui-button-raised ui-button-success" (click)="onSave()" [disabled]="canCreate()"></button>
        </div>
        <div class="p-col-2"></div>
      </div>
      <div *ngIf="operation === 'create'" class="p-grid">
        <div class="p-col-6"></div>
        <div class="p-col-1">
          <button pButton type="button" label="Back" class="ui-button-raised ui-button-secondary" (click)="onBack()"></button>
        </div>
        <div class="p-col-1">
          <button pButton type="button" label="Create" class="ui-button-raised ui-button-success" (click)="onCreate()" [disabled]="canCreate()"></button>
        </div>
        <div class="p-col-2"></div>
      </div>
    </div>

    <div *ngIf="status === 'waiting'">
      Waiting...
    </div>

  </div>
</form>
