<div class="p-grid">
  <div class="p-col-12">
    <qiqo-search [entityType]="EntityType.Account" (newResults)="onNewResults($event)"></qiqo-search>
  </div>
  <div class="p-col-12">
    <qiqo-list [results]="searchResults"></qiqo-list>
  </div>
</div>

<qiqo-quick-create (qcClick)="showAccountQuickCreate()"></qiqo-quick-create>

<qiqo-quick-create-dialog [display]="showQuickCreateDialog" header="Account Quick Create">
  <qiqo-account isQuickCreate="true" (cancel)="test()"></qiqo-account>
</qiqo-quick-create-dialog>
